h2{
    color: rgb(22, 22, 108);
}
.aboutDetails{
    text-align:center;
    align-items: center;
    margin-right:57%;
    margin-left: 8%;
    margin-top: 4%;
    line-height: 320%;
}
.aboutDetails div{
    color: rgb(22, 22, 108);
    font-size: 25px;
}

