body{
    background-image:url("../assets/כפית תמונת 1הבית.jpg");
    background-repeat: no-repeat;
    margin-top: 0%;
    width:100%!important;
    height:100px!important;
    background-color: white;
  
/*     
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */


}
nav{
    background-color: #bfebf8!important;
}

image{
    margin-top: 0%;
    width: 100%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    height: 500px!important;
}
.inp{
    border:2px solid rgb(247, 192, 192);        
    border-radius: 8px;
    width: 200px;
    height: 50px;
    color: rgb(22, 22, 108);
}
#inp1{
    margin-left: 15px;
}
.detailInput{
    margin-top: -1px!important;
}
.button {
    background-color: rgb(247, 192, 192);
    width: 170px;
    height: 50px;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
  }
  .textWrite{
    color:white;
    font-size: 45px;
    margin-top: 160px;
    margin-right: 1000px;
  }
p{
    color: aliceblue!important;
    font-size: 43px!important;
}